<section>
<div class="container" id="contact">
    <div class="row">
        <div class="col-lg-8">
            <div class="heading col-xs-12"><h2>Stay in the Loop!</h2></div>
            <div class="col-xs-12">
                <div style="display: none" class="pb-subscribe-form" data-org="b60840c9-b425-4a9c-9799-781600d55f3f" data-description="Subscribe to my monthly newsletter for updates." data-description-color="#555555" data-email-input-placeholder="Enter Email Address" data-submit-button-label="Subscribe" data-submit-button-text-color="inherit" data-submit-button-background-color="inherit" data-confirmation-title="Hooray!" data-confirmation-msg="Thanks for subscribing!" data-background-color="#ffffff" data-use-my-website-font="true"></div>
                <script async src=https://pencilbooth.com/scripts/embed.js></script>
            </div>
        </div>
    </div>
    <div class="row">            
        <div class="col-lg-8">            
            <div class="heading col-xs-12"><h2>Send a Note!</h2></div>
            <form action="" method="POST" name="sentMessage" id="contactForm" novalidate>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
                        <p class="help-block text-danger"></p>
                        <input type="text" name="name" class="form-control" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}">                        
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
                        <p class="help-block text-danger"></p>
                        <input type="email" name="_replyto" class="form-control" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}">                        
                    </div>
                </div>
                <div>
                    <input type="hidden"  name="_subject" value="New submission!">
                    <input type="text" name="_gotcha" style="display:none" />
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}</label>
                        <p class="help-block text-danger"></p>
                        <textarea rows="5" name="message" class="form-control" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>                        
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="control-group">
                    <div class="col-xs-12">
                        <p style="display:none" class="text-danger" id="recaptcha-error">Please check the reCaptcha</p>
                        <p><div class="g-recaptcha" data-sitekey="{{ .Site.Params.googleRecaptchaKey }}"></div>
                        <input type="hidden" name="hiddenRecaptcha" id="hiddenRecaptcha"></p>
                    </div>

                    <div class="col-xs-12">
                        <p><button id="contactBtn" type="submit" class="btn btn-template-main">Send</button></p>
                        
                        <p id="errorMessage" style="display:none;" class="text-danger">There was an error submitting your form</p>
                        <p id="successMessage" style="display:none;" class="text-sucess">Thank you. Your message has been submitted.</p>
                    </div>
                </div>
            </form> 
        </div>




 <!--       <div class="col-md-12">
 
           <section>-->

               <!-- {{ .Content }}

                {{ if isset .Site.Params "formspree_action" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                <form {{ with .Site.Params.contact_form_ajax }}class="contact-form-ajax"{{ else }}{{ end }} method="post" action="{{ .Site.Params.formspree_action }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="email" autocomplete="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>
                        {{ if and .Site.Params.enableRecaptchaInContactForm .Site.Params.googleRecaptchaKey }}
                        <div class="col-sm-12">
                            <div class="g-recaptcha" data-sitekey="{{ .Site.Params.googleRecaptchaKey }}"></div>
                            <br/>
                        </div>
                        {{ end }}

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>{{ i18n "contactSend" }}</button>

                        </div>
                    </div>-->
                    <!-- /.row -->
                 <!--</form>

               {{ end }} -->

            <!--</section>

        </div>-->

<!--        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>-->

    </div>
    <!-- /.row -->
</div>

</section>
